:root{
  --color-primary: #444;
  --color-secondary:#DB0076;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color:var(--color-primary);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.heading-1{
  text-transform: uppercase;
  color:var(--color-primary);
}
.heading-3{
  color:var(--color-secondary)
}
.row{
  width:300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin:0 auto;
}
.currency-row{
 
}
.currency-input{
  width:3rem;
}
.swap-row button{
  border:none;
  background:var(--color-secondary);
  color:#fff;
  border-radius:5px;
  text-transform: uppercase;
  padding: 0.3rem 0.5rem;
}
.swap-row p{
  color:var(--color-secondary)
}